telegram:
  token: TELEGRAM_BOT_TOKEN_HERE
  admin_id: YOUR_TELEGRAM_USERID_HERE
pr0gramm:
  username: PR0GRAMM_USERNAME_HERE
  password: PR0GRAMM_PASSWORD HERE
  flags:
    sfw: TRUE
    nsfw: FALSE
    nsfp: FALSE
    nsfl: FALSE
    pol: FALSE
loglevel: INFO